.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightpink;
}
.direction:hover {
    background-color: beige; 
    color: red; 
}
.HEDDA{
    color: blue;
    font-size: 16px;
}

.MISSTESMAN{
    color: red;
    font-size: 16px;
}
.BRACK{
    color: green;
    font-size: 16px;
}
table{
    border: 1px solid black;
    color: black;
    text-align: center;
    }

    th, td {
        text-align: left;
        padding: 16px;
        margin: auto;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }