.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.MISS:hover{
    color: rgb(45, 142, 193);
    font-size: 20px;
    text-shadow: 5px 5px 3px #FF0000;
    border-style: dotted;
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightpink;
}
.direction:hover {
    background-color: beige; 
    color: red; 
}
.HEDDA{
    color: blue;
    font-size: 16px;
}

.MISSTESMAN{
    color: red;
    font-size: 16px;
}
.BRACK{
    color: green;
    font-size: 16px;
}
table{
    border: 1px solid black;
    color: black;
    text-align: center;
    }

    th, td {
        text-align: left;
        padding: 16px;
        margin: auto;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    .a{
        font-size: 25px;
      }
      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: rgb(223, 90, 113);
      }
      a {
        text-decoration: none;
        display: inline-block;
        padding: 20px 16px;
      }
      
      a:hover {
        background-color: #ddd;
        color: black;
      }
      